name: publish

on:
  push:
    branches:
      - master
permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - id: publish
        uses: JS-DevTools/npm-publish@v4.1.1
      - if: ${{ steps.publish.outputs.type }}
        run: echo "# ${{ steps.publish.outputs.version }}" >> "$GITHUB_STEP_SUMMARY"
