name: publish

on:
  push:
    branches:
      - master
permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: true
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: npm publish --no-git-checks --provenance
